.DS_Store
.vscode 
.venv/
/data/
/outputs*/
/checkpoints/
/checkpoints*/
/checkpoints_bkp/ 
/logs/
/logs*/
/training_log*.txt

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

/temp.py 

# ignore nfs temp files 
.nfs*